#header {
    height: 300px;
    width: 100%;
    background-image: url(images/beautiful-color-dark-green-1420008.jpg);
background-size: cover;
display: block;}

#title {text-align: center;
    vertical-align: middle;
    line-height: 300px;
    color: white;}
form {text-align: center;}

#button {background-color: #187D36;
    padding: 15px 40px;
color: white;
border-radius: 8px;
font-size: 16px;}